.row
  - if @account_summaries
    %h4
      Properties for
      = @account_summaries.username
    %ul.list
      - @account_summaries.items.each do |item|
        %li.account-name
          %p{style: 'padding: 0.8rem 0 0 0.8rem; font-weight: bold; */'}
            = item.name
          - if item.web_properties
            %ul.list
              - item.web_properties.each do |property|
                %li.property-name
                  = property.name
                  - if property.profiles
                    %ul.list
                      - property.profiles.each do |profile|
                        %li.property-profile
                          =  link_to profile.name, get_data_path(account_id: item.id, web_property_id: property.id, profile_id: profile.id), method: :get

.row
  - if @image
    %h3
      = @property.name
    = image_tag @image
